body {
  background-image: linear-gradient(170deg, #fcf0db, #fcf0db 55%, #fff 55%, #fff);
  background-repeat: no-repeat;
  font-family: "Product Sans", sans-serif;
  min-height: 100vh;
}

.d-none{
  display: none;
}

.container {
  max-width: 33%;
  margin: 0 auto;
  font-size: 18px;
}

/* NAV BAR */
nav {
  margin-bottom: 40px;
  font-size: 23px;
  color: #bdbdbd;
  border-bottom: 1px solid black;
  display: flex;
  padding-bottom: 27px;
  position: relative;
}

nav:after {
  content: ' ';
  position: absolute;
  bottom: -8px;
  width: 32%;
  background: #f2994a;
  height: 15px;
  border-radius: 12px;
  transition: 500ms;
  left: 0;
}

nav.stage-2::after {
  left: 33%;
  width: 30%;
}

nav.stage-3::after {
  left: 63%;
  width: 37%;
}

nav span {
  flex-basis: 32%;
}

nav span.active{
  color: #f2994a;
}

/* Forms */

.form-group {
  margin-top: 24px;
}

label, small {
  display: block;
  margin-bottom: 10px;
}

small{
  color: #817e9e;
}

label{
  font-weight: 600;
}

.required::after {
  content: " *";
  color: red;
}

.form-control {
  display: block;
  width: 98%;
  padding: .375rem .75rem;
  padding: 14px;
  padding-right: 0px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1.5px solid #4e598c;
  border-radius: 11px;
}

.form-row {
  display: flex;
  column-gap: 90px;
}

.form-row .LGA-col {
  flex-basis: 60%;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.select-wrapper{
  position: relative;
}

.select-wrapper::after {
  content: ' ';
  position: absolute;
  padding: 5px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  right: 15px;
  top: 16px;
  opacity: .5;
}

#location {
  min-width: 200px;
}

.card-details-row {
  column-gap: 44px;
  width: 97%;
}

.card-num-col {
  flex-basis: 70%;
}

.card-exp-col {
  flex-basis: 23%;
}

.card-cvv-col {
  flex-basis: 15%;
}


/* Confirm payment card */
.confirm-payment-container, .payment-complete-container {
  border-radius: 10px;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 19px 16px -6px rgba(133,133,133,0.49);
  -moz-box-shadow: 0px 19px 16px -6px rgba(133,133,133,0.49);
  box-shadow: 0px 19px 16px -6px rgba(133,133,133,0.49);
}

.color-blue-100{
  color: #4e598c
}

.heading, .total, .item-1, .item-2 {
  padding: 25px 60px;
}

.heading {
  color: white;
  background: #2f80ed;
}

.divider {
  width: 93%;
  margin: 0 auto;
  border-bottom: 1px solid #817e9e;
}

.row{
  display: flex;
}

.row .col{
  flex-basis: 50%;
}

.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right !important;
}

.text-center{
  text-align: center !important;
}

.total-inner {
  border: 1px solid #817e9e;
  padding: 15px;
  border-radius: 10px;
}

.total-inner .text-left {
  color: #817e9e;
}

/* buttons */
button{
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button{
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  background: white;
  border: 0;
  cursor: pointer;
}

.btn-container {
  margin-top: 85px;
}

.btn-container button {
  padding: 15px;
  border-radius: 10px;
}

.pay-btn {
  width: 150px;
  margin-right: 40px;
  background-image: linear-gradient(#f2c94c, #f2994a);
  color: white;
  border: 1px solid;
}

.pay-btn:hover {
  background: #f2994a;
}

.cancel-btn:hover{
  border: 1px solid;
}

/* Payment complete */

.payment-complete-container {
  margin-top: 100px;
}

.inner-container {
  width: 70%;
  margin: 0 auto;
}

.payment-complete-container .check-icon {
  font-size: 60px;
  text-align: center;
  color: #6fcf97;
}

.payment-complete-container .check-icon .bi {
  -webkit-box-shadow: 0px 7px 30px -6px rgba(133,133,133,0.49);
  -moz-box-shadow: 0px 7px 30px -6px rgba(133,133,133,0.49);
  box-shadow: 0px 7px 30px -6px rgba(133,133,133,0.49);
  border-radius: 50%;
  padding: 16px;
}

.payment-complete-container p:not(.check-icon) {
  margin: 45px 0;
}

.payment-complete-container h1.color-blue-100 {
  font-size: 40px;
}


.payment-complete-container button {
  text-decoration: underline;
  color: #f2994a;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .container{
    max-width: 100%;
    padding: 0 15px;
  }

  nav {
    font-size: 5vw;
  }

  .form-row {
    flex-wrap: wrap;
  }

  .form-row .LGA-col, .form-row .state-col {
    flex-basis: 100%;
  }

  .card-num-col {
    flex-basis: 100%;
  }

  .card-exp-col, .card-cvv-col {
    flex-basis: 40%;
  }
}
 